@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    text-align: center;
    background-color: burlywood;
}
.container{
    background-color:burlywood;
    display: flex;
    flex-direction: column;
    width: 60%;
margin: auto;
}
label{
    font-weight: bold;
    padding: 1rem;
}
input{
    width: 50%;
    margin: auto;
    text-align: center;
}
button{
    width: 10%;
    margin: auto;
}
output{
    font-weight: bold;
}